@import url("https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css");

#shop-side-bar { 
  /* background: #E4C693;  */
  color: #A8906A;
}

.cart-image { 
  max-width: 20%; 
  height: auto;
}

.listing-text { 
  vertical-align:center;
}

.ItemListing { 
  border-radius: 15px;
}

.ItemListing, .FishListing { 
  background: white;
}

.image-shadow:hover { 
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.49);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.49);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.49);
}